<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Idam Learning</title>
	<link href="/img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link href="/css/preloader.css" rel="stylesheet">
	<link href="/css/iziModal.css" rel="stylesheet">
  <!-- <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/iziModal.js"></script>
	<!-- Gatwick - Responsive Multipurpose Template - v.1.2-->
</head>
<style>
.iziModal {
    position: fixed;
    z-index: 2000;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease;
}
.freebirdFormviewerViewNavigationPasswordWarning{
	display: none;
}

.inforow{
  margin-top: 80px;
}
@media screen and (max-width: 991px){
  .inforow{
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px){
	.cart-list  {
	    display: none;
	}
}
</style>
<body>

<!-- Preloader -->
<div class="preloader"></div>

<!-- HEADER -->
<header class="header header-light header-float navbar-fixed-top ">
	<nav class="navbar container">
		<div class="col-sm-12">
      <a href="/" class="navbar-brand fig text-center pull-left"><img class = "brandImage" src="/img/logo/logo.gif" alt=""></a>
      <!-- <a href="/" class="navbar-brand">Idam Learning</a> -->
			<div class="cart-list pull-right">
				<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
				<!-- <a class="modalButton" data-toggle="modal" data-src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" data-width="500" data-height="500" data-target="#myModal" data-video-fullscreen=""><span>Quiz!</span> <ins>3</ins></a> -->
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" class="trigger"><span>Quiz!</span> <ins>3</ins></a>
			</div>
			<button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class=" active">
						<a href="/">Home</a>
					</li>
					<li class="">
						<a href="/servicesIdam">Services</a>
					</li>
					<li class="">
						<a href="/galleryIdam">Gallery</a>
					</li>
					<li class="">
						<a href="/contactIdam">Contact</a>
					</li>
          <li class="">
						<a href="/links">Links</a>
					</li>
          <li class="">
						
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- /.header -->

<div id="modal">
    <!-- Page content -->
</div>
<!-- /.modal -->


<!-- WRAPPER -->
<div class="wrapper border">

	<!-- CONTAINER -->
	<div class="container no-padding sm-padding-top inforow">
		<div class="col-sm-6">
			<ul class="nav-category">
			</ul>
		</div>
		<div class="col-sm-6 text-right">

		</div>
	</div>
	<!-- /.container -->

	<!-- CONTAINER -->
	<div class="container text-center">
		<h2>Idam FAQs</h2>
		<ul class="nav-expand flat">
			<li><a href="" class="expand-link"><i class="fa fa-angle-double-down"></i> Expand All</a></li>
			<li><a href="" class="collapse-link"><i class="fa fa-angle-double-up"></i> Collapse All</a></li>
		</ul>
		<a href="/contact" class="btn btn-primary">Contact Us</a>

	</div>
	<!-- /.container -->

	<!-- CONTAINER -->
	<div class="container mix-list faq">
		<div class="col-sm-6">
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-1">
					<i class="fa fa-folder-open-o fa-fw"></i>Lorem ipsum dolor adipiscing elit?
				</h4>
				<div class="panel-body collapse in" id="faq-1">
					<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero aceverus dona venenatis faucibus. Mellentesque habitant morbi tristique et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-2">
					<i class="fa fa-folder-open-o fa-fw"></i>Nam libero eligendi impedit quo minus?
				</h4>
				<div class="panel-body collapse in" id="faq-2">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-3">
					<i class="fa fa-folder-open-o fa-fw"></i>Class aptent taciti sociosqu ad litora torquent per conubia nostra?
				</h4>
				<div class="panel-body collapse in" id="faq-3">
					<p>Donec vitae nibh ipsum, vitae semper orci. Nunc sed elit in nulla auctor imperdiet. Ut a nisl sit amet odio accumsan laoreet. Sed pharetra lectus in arcu pellentesque et iaculis justo pellentesque.</p>
				</div>
			</div>
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-4">
					<i class="fa fa-folder-open-o fa-fw"></i>Etiam laoreet sodales sapien, id congue magna malesuada ut?
				</h4>
				<div class="panel-body collapse in" id="faq-4">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-5">
					<i class="fa fa-folder-open-o fa-fw"></i>Dolor sit amet, consectetur elit?
				</h4>
				<div class="panel-body collapse in" id="faq-5">
					<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero aceverus dona venenatis faucibus. Mellentesque habitant morbi tristique et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-6">
					<i class="fa fa-folder-open-o fa-fw"></i>Lorem ipsum dolor sit amet elit?
				</h4>
				<div class="panel-body collapse in" id="faq-6">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-7">
					<i class="fa fa-folder-open-o fa-fw"></i>Etiam laoreet sodales sapien, id congue magna malesuada ut?
				</h4>
				<div class="panel-body collapse in" id="faq-7">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-8">
					<i class="fa fa-folder-open-o fa-fw"></i>Dolor sit amet, consectetur elit?
				</h4>
				<div class="panel-body collapse in" id="faq-8">
					<p>Donec vitae nibh ipsum, vitae semper orci. Nunc sed elit in nulla auctor imperdiet. Ut a nisl sit amet odio accumsan laoreet. Sed pharetra lectus in arcu pellentesque et iaculis justo pellentesque.</p>
				</div>
			</div>
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-9">
					<i class="fa fa-folder-open-o fa-fw"></i>Lorem ipsum dolor sit amet elit?
				</h4>
				<div class="panel-body collapse in" id="faq-9">
					<p>Aliquam commodo gravida magna eget tincidunt. Fusce nisi augue, malesuada in commodo quis, euismod quis orci. Integer vitae nisl non augue ullamcorper blandit.</p>
				</div>
			</div>
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-10">
					<i class="fa fa-folder-open-o fa-fw"></i>Lorem ipsum dolor adipiscing elit?
				</h4>
				<div class="panel-body collapse in" id="faq-10">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix security">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-11">
					<i class="fa fa-folder-open-o fa-fw"></i>Dolor sit amet, consectetur elit?
				</h4>
				<div class="panel-body collapse in" id="faq-11">
					<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero aceverus dona venenatis faucibus. Mellentesque habitant morbi tristique et malesuada famesac turpis egestas.</p>
				</div>
			</div>
			<div class="mix database">
				<h4 data-toggle="collapse" class="text-primary" data-target="#faq-12">
					<i class="fa fa-folder-open-o fa-fw"></i>Lorem ipsum dolor sit amet elit?
				</h4>
				<div class="panel-body collapse in" id="faq-12">
					<p>Mellentesque habitant morbi tristique et malesuada famesac turpis egestas. Ut non enim eleifend felis pretium feugiat. Donec vitae sapien ut libero ace venenatis faucibus. Mellentesque habitant morbi tristique senectus et netus et malesuada famesac turpis egestas.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark ">
	<div class="container">
		<div class="row inforow">
			<div class="col-md-3 col-sm-6">
				<a class="navbar-brand" href="#">Gatwick</a>
				<p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Mellentesque habitant morbi tristique senectus.</p>
			</div>
			<div class="col-md-4 col-sm-6">
				<h4>Twitter</h4>
				<ul class="twitter-list flat">
					<li>
						<div class="fa fa-twitter hidden-sm"></div><p><a href="">@gatwick:</a> Utnon enim  feugiat <a href="">goo.gl/56Rt78</a> famesac turpis egestas <span class="date">June 18, 2014</span></p>
					</li>
					<li>
						<div class="fa fa-twitter hidden-sm"></div><p><a href="">@gatwick:</a> Mellentesque
						netus et malesuada <a href="">goo.gl/A65qt</a> enim eleifend felis pretium <span class="date">September 8, 2014</span></p>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4><a href="/contactIdam">Contact</a></h4>
				<address>
					<p>+44 20 7734 8000 <br/>
						+44 20 7734 8945 <br/>
						<a href="mailto:info@samplesite.com">info@samplesite.com</a>
					</p>
					<p>Le Meridien Piccadilly <br/>
						London, UK</p>
				</address>
			</div>
			<div class="col-md-2 col-sm-6">
				<h4><a href="/links">Links</a></h4>
				<ul>
					<li><a href="">Presentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms Of Use</a></li>
				</ul>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<p class="copyright">&copy; 2015 Gatwick. All Rights Reserved</p>
			</div>
			<div class="col-sm-6 text-right">
				<nav>
					<span>Follow Us:</span>
					<a href=""><i class="fa fa-dribbble"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</nav>
			</div>
		</div>
	</div>
</footer>
<!-- /.footer -->

<!-- ScrollTop -->
<a href="#" class="scrolltop"><i></i></a>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/custom.js"></script>
<script>
( function($) {
  // $('body').css('position','fixed');
	$(document).on('click', '.trigger', function (event) {
    event.preventDefault();
    $('#modal').iziModal('open', this); // Do not forget the "this"
});
$("#modal").iziModal({
		title: 'Quiz',
		headerColor: '#3498db',
    iframe: true,
    iframeURL: "https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true"
});

  } ) ( jQuery );
</script>

<!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=1"></script> -->
</body>
</html>
