<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Idam Learning</title>
	<link href="/img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link href="/css/preloader.css" rel="stylesheet">
	<link href="/css/iziModal.css" rel="stylesheet">
  <!-- <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/iziModal.js"></script>
	<!-- Gatwick - Responsive Multipurpose Template - v.1.2-->
</head>
<style>

.iziModal {
    position: fixed;
    z-index: 2000;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease;
}
.freebirdFormviewerViewNavigationPasswordWarning{
	display: none;
}

.inforow{
  margin-top: 100px;
}
@media screen and (max-width: 991px){
  .inforow{
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px){
	.cart-list  {
	    display: none;
	}
}

.servicesBox:hover{
   background-color:lightgray;
	 cursor: pointer;
}

</style>
<body>

<!-- Preloader -->
<div class="preloader"></div>
<header class="header header-light header-float navbar-fixed-top ">
	<nav class="navbar container">
		<div class="col-sm-12">
      <a href="/" class="navbar-brand fig text-center pull-left"><img class = "brandImage" src="/img/logo/logo.gif" alt=""></a>
      <!-- <a href="/" class="navbar-brand">Idam Learning</a> -->
			<div class="cart-list pull-right">
				<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
				<!-- <a class="modalButton" data-toggle="modal" data-src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" data-width="500" data-height="500" data-target="#myModal" data-video-fullscreen=""><span>Quiz!</span> <ins>3</ins></a> -->
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" class="trigger"><span>Quiz!</span> <ins>3</ins></a>
			</div>
			<button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class=" active">
						<a href="/">Home</a>
					</li>
					<li class="">
						<a class=" activeNav" href="/servicesIdam">Services</a>
					</li>
					<li class="">
						<a   href="/galleryIdam">Gallery</a>
					</li>
					<li class="">
						<a href="/contactIdam">Contact</a>
					</li>
          <li class="">
						<a href="/links">Links</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- /.header -->

<div id="modal">
    <!-- Page content -->
</div>
<!-- /.header -->
<div class="wrapper border">

	<!-- CONTAINER -->
	<div class="container inforow skills">
		<div class="col-sm-12">
			<h2>Skills &amp; Services</h2>
			<!-- <p class="text-muted">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero.</p> -->
			<hr/>

			<div class="row">
				<div class="col-sm-3 servicesBox servicesBox1" style="border: 1px solid lightgray;">
					<div style="margin:30px;">
						<!-- <div class="col-sm-3 text-center"> -->
							<!-- <div class="icon icon-sm painted" data-icon="N"></div> -->
						<img src="/img/services/leadership.png" alt="" data-animate="fadeInRight" class="animate icon icon-sm painted" style="display: block;margin: auto;margin-bottom: 20px;">
						<!-- </div> -->
						<div class="col-sm-12">
							<h4 style="text-align:center;margin-bottom: 30px;">Leadership Skill Building</h4>
							<!-- <p>Leader development is a process for leaders to expand their data set about themselves cotinually about their strengths and weaknesses, their convictions and careers</p> -->
						</div>
					</div>
				</div>
				<div class="col-sm-3 servicesBox" style="border: 1px solid lightgray;">
					<div style="margin:30px;">
						<!-- <div class="col-sm-3 text-center"> -->
							<!-- <div class="icon icon-sm painted" data-icon="N"></div> -->
						<img src="/img/services/shuffle.png" alt="" data-animate="fadeInRight" class="animate icon icon-sm painted" style="display: block;margin: auto;margin-bottom: 20px;">
						<!-- </div> -->
						<div class="col-sm-12">
							<h4 style="text-align:center;margin-bottom: 30px;">Facilitate Change For Growth</h4>
							<!-- <p>Leader development is a process for leaders to expand their data set about themselves cotinually about their strengths and weaknesses, their convictions and careers</p> -->
						</div>
					</div>
				</div>
				<div class="col-sm-3 servicesBox" style="border: 1px solid lightgray;">
					<div style="margin:30px;">
						<!-- <div class="col-sm-3 text-center"> -->
							<!-- <div class="icon icon-sm painted" data-icon="N"></div> -->
						<img src="/img/services/leadership.png" alt="" data-animate="fadeInRight" class="animate icon icon-sm painted" style="display: block;margin: auto;margin-bottom: 20px;">
						<!-- </div> -->
						<div class="col-sm-12">
							<h4 style="text-align:center;margin-bottom: 30px;">Leadership Skill Building</h4>
							<!-- <p>Leader development is a process for leaders to expand their data set about themselves cotinually about their strengths and weaknesses, their convictions and careers</p> -->
						</div>
					</div>
				</div>
				<div class="col-sm-3 servicesBox" style="border: 1px solid lightgray;">
					<div style="margin:30px;">
						<!-- <div class="col-sm-3 text-center"> -->
							<!-- <div class="icon icon-sm painted" data-icon="N"></div> -->
						<img src="/img/services/leadership.png" alt="" data-animate="fadeInRight" class="animate icon icon-sm painted" style="display: block;margin: auto;margin-bottom: 20px;">
						<!-- </div> -->
						<div class="col-sm-12">
							<h4 style="text-align:center;margin-bottom: 30px;">Leadership Skill Building</h4>
							<!-- <p>Leader development is a process for leaders to expand their data set about themselves cotinually about their strengths and weaknesses, their convictions and careers</p> -->
						</div>
					</div>
				</div>

			</div>

			<hr class="no-border sm-margin" />

			<div class="row">
				<div class="col-sm-3">
					<div class="col-sm-3 text-center">
						<img src="/img/services/papyrus.png" alt="" data-animate="fadeInRight" class="animate">
					</div>
					<div class="col-sm-9">
						<h4>Culture Building</h4>
						<p>Culture can be a huge enabler of performance and quite the opposite, if not done right</p>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="col-sm-3 text-center">
						<img src="/img/services/speaker.png" alt="" data-animate="fadeInRight" class="animate">
					</div>
					<div class="col-sm-9">
						<h4>Keynote Speaking</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero.</p>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="col-sm-3 text-center">
						<img src="/img/services/speaker.png" alt="" data-animate="fadeInRight" class="animate">
					</div>
					<div class="col-sm-9">
						<h4>Keynote Speaking</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero.</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="col-sm-3 text-center">
						<img src="/img/services/speaker.png" alt="" data-animate="fadeInRight" class="animate">
					</div>
					<div class="col-sm-9">
						<h4>Keynote Speaking</h4>
						<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero.</p>
					</div>
				</div>

			</div>
		</div>
		<div class="col-sm-4">
			<!-- <img src="/img/services/1.png" alt="" data-animate="fadeInRight" class="animate"> -->
		</div>
	</div>
	<!-- /.container -->

	<!-- <div class="bg-primary">
		<div class="container no-padding max-410 inforow">
			<div class="col-sm-4 max-410 hidden-xs">
				<img src="http://gatwick.aisconverse.com/images/mockup/mac-equipment.jpg" alt="" data-animate="fadeInLeft" class="animate fix-right" id="appeared">
			</div>
			<div class="col-sm-7 col-sm-offset-1 middle hidden-middle m-padding">
				<h2 class="painted">What We Do</h2>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. Enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed.</p>
				<a class="btn btn-primary" href="../pages/contact.html">Get a Quote</a>
			</div>
		</div>
	</div> -->

	<!-- CONTAINER -->
	<!-- <div class="container inforow">
		<div class="col-sm-4">
			<h2 class="painted img-xs hidden-xs">&mdash;</h2>
			<h2 class="painted">Reviews</h2>
			<p class="text-muted">Enim accumsan, ut prima blandit labores nonumes.</p>
		</div>
		<div class="col-sm-4">
			<img src="http://gatwick.aisconverse.com/images/team/person-6-sq.jpg" class="img-circle img-xs" alt="">
			<p>“Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut liberomontecro ace venenatis faucibus. Nullam quis antetiamorci eget eros”</p>
			<p class="text-primary">Helen Magnum <small>Creative Company, Founder</small></p>
		</div>
		<div class="col-sm-4">
			<img src="http://gatwick.aisconverse.com/images/team/person-4-sq.jpg" class="img-circle img-xs" alt="">
			<p>“Nec odio et ante tincidunt tempus. Vitae sapien ut libero acvertine venenatis faucibus. Nullam quis antetiam sit amet orci”</p>
			<p class="text-primary">Manro Snowen <small>Digital Systems, President</small></p>
		</div>
	</div> -->
	<!-- /.container -->

	<!-- COUNTUPs -->
	<!-- <div class="bg-sl-parallax-3 white" data-stellar-background-ratio="0.8">
  	<div class="container hg-padding inforow">
  		<div class="col-sm-4">
  			<div class="countup progress-up" data-increment="1" data-num="46" data-sign="&percnt;"></div>
  			<h4>Java Script</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  		</div>
  		<div class="col-sm-4">
  			<div class="countup progress-up" data-increment="1" data-num="95" data-sign="&percnt;"></div>
  			<h4>Graphic Design</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  		</div>
  		<div class="col-sm-4">
  			<div class="countup progress-up" data-increment="1" data-num="73" data-sign="&percnt;"></div>
  			<h4>Photography</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  		</div>
  	</div>
	</div> -->
	<!-- /.bg -->



  	<!-- CONTAINER -->
  	<div class="container inforow">
  		<div class="col-sm-4 serviceExpl1">
  			<h4>Leadership Skill Building</h4>
				<img src="/img/services/1.png" alt="" data-animate="fadeInRight" class="animate">

  			<!-- <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam melior.</p> -->
  		</div>
  		<div class="col-sm-8">
  			<div class="panel-group" id="accordion">
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a>
  						</h4>
  					</div>
  					<div id="collapseOne" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad animi autem consequatur cumque dolore, doloremque doloribus ea eos ex facere ipsam ipsum odio quae quaerat recusandae, rerum totam vitae.</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a>
  						</h4>
  					</div>
  					<div id="collapseTwo" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a>
  						</h4>
  					</div>
  					<div id="collapseThree" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<!-- /.container -->

  	<hr class="no-margin"/>

  	<!-- CONTAINER -->
  	<div class="container inforow">
  		<div class="col-sm-4">
  			<h4>Facilitate Change For Growth</h4>
  			<!-- <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam melior.</p> -->
				<img src="/img/services/2.png" alt="" data-animate="fadeInRight" class="animate">

			</div>
  		<div class="col-sm-8">
  			<div class="panel-group">
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" href="#toggle-1"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #1</a>
  						</h4>
  					</div>
  					<div id="toggle-1" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad animi autem consequatur cumque dolore, doloremque doloribus ea eos ex facere ipsam ipsum odio quae quaerat recusandae, rerum totam vitae.</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" href="#toggle-2"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #2</a>
  						</h4>
  					</div>
  					<div id="toggle-2" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" href="#collapse-3"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #3</a>
  						</h4>
  					</div>
  					<div id="collapse-3" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<!-- /.container -->

  	<hr class="no-margin"/>

  	<!-- CONTAINER -->
  	<div class="container inforow">
  		<div class="col-sm-4">
  			<h4>Culture Building</h4>
  			<!-- <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam melior.</p> -->
				<img src="/img/services/2.png" alt="" data-animate="fadeInRight" class="animate">

			</div>
  		<div class="col-sm-8">
  			<div class="panel-group" id="accordion-2">
  				<div class="panel panel-default">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #1</a>
  						</h4>
  					</div>
  					<div id="collapseFour" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad animi autem consequatur cumque dolore, doloremque doloribus ea eos ex facere ipsam ipsum odio quae quaerat recusandae, rerum totam vitae.</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel panel-default">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #2</a>
  						</h4>
  					</div>
  					<div id="collapseFive" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel panel-default">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #3</a>
  						</h4>
  					</div>
  					<div id="collapseSix" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<!-- /.container -->

  	<hr class="no-margin"/>

  	<!-- CONTAINER -->
  	<div class="container inforow">
  		<div class="col-sm-4">
  			<h4>Keynote Speaking</h4>
  			<!-- <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam melior.</p> -->
				<img src="/img/services/2.png" alt="" data-animate="fadeInRight" class="animate">
			</div>
  		<div class="col-sm-8">
  			<div class="panel-group panel-border" id="accordion-3">
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapseSeven"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #1</a>
  						</h4>
  					</div>
  					<div id="collapseSeven" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad animi autem consequatur cumque dolore, doloremque doloribus ea eos ex facere ipsam ipsum odio quae quaerat recusandae, rerum totam vitae.</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapseEight"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #2</a>
  						</h4>
  					</div>
  					<div id="collapseEight" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  				<div class="panel">
  					<div class="panel-heading">
  						<h4 class="panel-title">
  							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapseNine"><i class="fa fa-folder-open-o fa-fw"></i>Collapsible Group Item #3</a>
  						</h4>
  					</div>
  					<div id="collapseNine" class="panel-collapse collapse">
  						<div class="panel-body">
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus ad architecto asperiores autem cupiditate illo incidunt, modi necessitatibus, nemo nisi nulla perferendis quibusdam quisquam voluptas? Autem laboriosam qui quos?</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<!-- /.container -->


	<!-- CONTAINER -->
	<!-- <div class="container inforow">
		<div class="col-sm-4">
			<h2 class="painted">What We Do</h2>
		</div>
		<div class="col-sm-8">
			<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. Enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed.</p>
			<a class="btn btn-primary" href="../pages/contact.html">Contact Us</a>
		</div>
	</div> -->
	<!-- /.cnontainer -->

	<!-- <div class="bg-primary">
  	<div id="services" class="container inforow">
  		<div class="col-sm-4">
  			<div class="icon icon-default painted hidden-xs">
  				<small>&mdash;</small>
  			</div>
  			<h2 class="painted">Services</h2>
  			<p class="text-muted">Enim accumsan, ut prima blandit labores nonumes.</p>
  		</div>
  		<div class="col-sm-4">
  			<div class="icon icon-default painted" data-icon="N"></div>
  			<h4>Graphic Design</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  			<h4>Photography</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  		</div>
  		<div class="col-sm-4">
  			<div class="icon icon-default painted" data-icon=","></div>
  			<h4>Web Development</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  			<h4>Typography</h4>
  			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
  		</div>
  	</div>
  </div> -->
	<!-- /.container -->

	<!-- CONTAINER -->
	<!-- <div class="container inforow">
		<div class="col-sm-4">
			<h2 class="painted">Our Skills</h2>
		</div>
		<div class="col-sm-8">
			<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. Enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed.</p>
		</div>
	</div> -->
	<!-- /.container -->

	<hr class="no-margin" />

	<!-- CONTAINER -->
	<!-- <div class="container  inforow">
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="46" data-sign="&percnt;"></div>
			<h4>Java Script</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="95" data-sign="&percnt;"></div>
			<h4>Graphic Design</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="73" data-sign="&percnt;"></div>
			<h4>Photography</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
	</div> -->
	<!-- /.container -->

	<!-- CONTAINER -->
	<div class="container">
		<ul class="nav nav-tabs text-center">
			<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
			<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
		</ul>
		<div class="tab-content inforow">
			<div class="tab-pane fade in active" id="details">
				<div class="row">
					<div class="col-sm-4">
						<h3>About Our Methodology</h3>
					</div>
					<div class="col-sm-4">
						<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
					</div>
					<div class="col-sm-4">
						<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="reviews">
				<div class="comments">
					<div class="comment clearfix">
						<div class="col-md-offset-1 col-md-2 col-sm-3">
							<div class="raty" data-score="3" data-readonly="true"></div>
						</div>
						<div class="col-md-8 col-sm-9">
							<div class="comment-line">
								<p><a href="">Susana Jacobs</a>, 12 july at 20:48</p>
							</div>
							<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
						</div>
					</div>
					<div class="comment clearfix">
						<div class="col-md-offset-1 col-md-2 col-sm-3">
							<div class="raty" data-score="2" data-readonly="true"></div>
						</div>
						<div class="col-md-8 col-sm-9">
							<div class="comment-line">
								<p><a href="">Maria Kerr</a>, 12 july at 20:48</p>
							</div>
							<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
						</div>
					</div>
					<div class="comment clearfix">
						<div class="col-md-offset-1 col-md-2 col-sm-3">
							<div class="raty" data-score="4" data-readonly="true"></div>
						</div>
						<div class="col-md-8 col-sm-9">
							<div class="comment-line">
								<p><a href="">Bill Scott</a>, 12 july at 20:48</p>
							</div>
							<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- CONTAINER -->
	<!-- <div class="container">
		<div class="col-sm-12">
			<div class="widget">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-text" data-toggle="tab">Text</a></li>
					<li><a href="#tab-lists" data-toggle="tab">Lists</a></li>
					<li><a href="#tab-more" data-toggle="tab">More Info</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab-text">
						<h2>Heading</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
						<h3>Heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
					</div>
					<div class="tab-pane fade" id="tab-lists">
						<div class="col-sm-4">
							<ul class="flat">
								<li><i class="fa fa-bookmark fa-fw text-success"></i>Graphic design</li>
								<li><i class="fa fa-bookmark fa-fw text-success"></i>User Experience design</li>
								<li><i class="fa fa-bookmark fa-fw text-success"></i>Search Engine Optimization</li>
								<li><i class="fa fa-bookmark fa-fw text-success"></i>Authoring</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="flat">
								<li><i class="fa fa-exclamation fa-fw text-danger"></i>Graphic design</li>
								<li><i class="fa fa-exclamation fa-fw text-danger"></i>User Experience design</li>
								<li><i class="fa fa-exclamation fa-fw text-danger"></i>Search Engine Optimization</li>
								<li><i class="fa fa-exclamation fa-fw text-danger"></i>Authoring</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="flat">
								<li><i class="fa fa-check fa-fw text-warning"></i>Graphic design</li>
								<li><i class="fa fa-check fa-fw text-warning"></i>User Experience design</li>
								<li><i class="fa fa-check fa-fw text-warning"></i>Search Engine Optimization</li>
								<li><i class="fa fa-check fa-fw text-warning"></i>Authoring</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane fade" id="tab-more">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
						<h3>Heading</h3>
						<h4>Heading</h4>
						<h5>Heading</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate hic magni nam natus ratione voluptatem. Culpa distinctio et harum in itaque molestias pariatur saepe. Dolores quae totam voluptates.</p>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- /.container -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark ">
	<div class="container">
		<div class="row inforow frow-1">
			<div class="col-md-4 col-sm-6">
				<a class="navbar-brand" href="#">IDAM Learning</a>
				<p>I Learn.I Change.I Grow</p>
			</div>
			<div class="col-md-2 col-sm-6">
				<h4><a href="/links">Links</a></h4>
				<ul>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/servicesIdam">Services</a></li>
					<!-- <li><a href="">Support</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms Of Use</a></li> -->
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 contact-bg">
				<h4><a href="/contactIdam">Contact</a></h4>
				<address>
					<p>+44 20 7734 8000 <br/>
						+44 20 7734 8945 <br/>
						<a href="mailto:info@samplesite.com">info@samplesite.com</a>
					</p>
					<p>Gurgaon <br/>
						Harayana, India</p>
				</address>
			</div>
		</div>

		<hr/>

		<div class="row frow-3">
			<div class="col-md-5">
				<p class="copyright">&copy; 2016 Idam Learning. All Rights Reserved</p>
			</div>
			<div class="col-md-7 text-right">
				<ul>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/servicesIdam">Services</a></li>
					<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
					<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
					<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
					<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- /.footer -->

<!-- ScrollTop -->
<a href="#" class="scrolltop"><i></i></a>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/custom.js"></script>
<script>
( function($) {
  // $('body').css('position','fixed');
	$(document).on('click', '.trigger', function (event) {
    event.preventDefault();
    $('#modal').iziModal('open', this); // Do not forget the "this"
});
$("#modal").iziModal({
		title: 'Quiz',
		headerColor: '#3498db',
    iframe: true,
    iframeURL: "https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true"
});

  } ) ( jQuery );
	var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
			// Firefox 1.0+
	var isFirefox = typeof InstallTrigger !== 'undefined';
			// At least Safari 3+: "[object HTMLElementConstructor]"
	var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
			// Internet Explorer 6-11
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
			// Edge 20+
	var isEdge = !isIE && !!window.StyleMedia;
			// Chrome 1+
	var isChrome = !!window.chrome && !!window.chrome.webstore;
			// Blink engine detection
	var isBlink = (isChrome || isOpera) && !!window.CSS;

	if( isIE == true ){
		$('.preloader').hide();
	}

	$(".servicesBox1").click(function(){
		$('html,body').animate({
		 scrollTop: $(".serviceExpl1").offset().top - 150},
		 'slow');
		});
		
</script>

<!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=1"></script> -->
</body>
</html>
