<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Idam Learning</title>
	<link href="/img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link href="/css/preloader.css" rel="stylesheet">
	<link href="/css/iziModal.css" rel="stylesheet">
  <!-- <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/iziModal.js"></script>
	<!-- Gatwick - Responsive Multipurpose Template - v.1.2-->
</head>
<style>
.iziModal {
    position: fixed;
    z-index: 2000;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease;
}
.freebirdFormviewerViewNavigationPasswordWarning{
	display: none;
}

.inforow{
  margin-top: 100px;
}
@media screen and (max-width: 991px){
  .inforow{
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px){
	.cart-list  {
	    display: none;
	}
}
</style>
<body>

<!-- Preloader -->
<div class="preloader"></div>

<!-- HEADER -->
<header class="header header-light header-float navbar-fixed-top ">
	<nav class="navbar container">
		<div class="col-sm-12">
      <a href="/" class="navbar-brand fig text-center pull-left"><img class = "brandImage" src="/img/logo/logo.gif" alt=""></a>
      <!-- <a href="/" class="navbar-brand">Idam Learning</a> -->
			<div class="cart-list pull-right">
				<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
				<!-- <a class="modalButton" data-toggle="modal" data-src="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" data-width="500" data-height="500" data-target="#myModal" data-video-fullscreen=""><span>Quiz!</span> <ins>3</ins></a> -->
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true" class="trigger"><span>Quiz!</span> <ins>3</ins></a>
			</div>
			<button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown active">
						<a href="/">Home</a>
					</li>
					<li class="dropdown ">
						<a href="">Services</a>
					</li>
					<li class="dropdown ">
						<a href="">Gallery</a>
					</li>
					<li class="dropdown dropdown-static ">
						<a href="">Contact</a>
					</li>
          <li class="dropdown dropdown-static ">
						<a href="">Links</a>
					</li>
          <li class="dropdown dropdown-static ">
						<a href="">Resources</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- /.header -->
<div id="modal">
    <!-- Page content -->
</div>
<!-- WRAPPER -->
<div class="wrapper border">
	<!-- /.headcontent -->

	<!-- CONTAINER -->
	<div class="container timeline inforow appear-wrap">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h2>Company Establishment</h2>
				<div class="date">
					<div class="year year-start">1963</div>
					<small>September, 03</small>
				</div>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. Enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 hidden-xs"></div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<div class="year">1976</div>
					<small>December, 28</small>
				</div>
			</div>
			<div class="col-sm-5">
				<h4>News Begins Publication</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<div class="slider oneslider">
					<ul>
						<li>
							<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/timeline-1.jpg" alt="" class="img-rounded"></a>
						</li>
						<li>
							<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/timeline-2.jpg" alt="" class="img-rounded"></a>
						</li>
					</ul>
					<nav class="nav-pages"></nav>
				</div>
			</div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<div class="year">1982</div>
					<small>November, 19</small>
				</div>
			</div>
			<div class="col-sm-5 hidden-xs"></div>
		</div>

		<div class="row">
			<div class="col-sm-5 hidden-xs"></div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<small>December, 08</small>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="countup progress-up" data-increment="1" data-num="95" data-sign="&percnt;"></div>
				<h4>Happy Customers</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<div class="col-sm-2 no-all-padding">
					<div class="icon icon-default" data-icon="N"></div>
				</div>
				<div class="col-sm-10">
					<h4>Plans for a Cable Network</h4>
					<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
				</div>
			</div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<div class="year">1988</div>
					<small>January, 26</small>
				</div>
			</div>
			<div class="col-sm-5 hidden-xs"></div>
		</div>

		<div class="row">
			<div class="col-sm-5 hidden-xs"></div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<small>August, 23</small>
				</div>
			</div>
			<div class="col-sm-5">
				<h4 data-toggle="collapse" data-target="#p-1" class="collapsed">
					<i class="fa fa-folder-open-o fa-fw"></i>First Magazine
				</h4>
				<div class="panel-body collapse" id="p-1">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consectetur eaque eos eum ex exercitationem expedita id, incidunt itaque iure laudantium quae quidem quis ratione suscipit tempore ut veritatis.</p>
				</div>
				<h4 data-toggle="collapse" data-target="#p-2">
					<i class="fa fa-folder-open-o fa-fw"></i>Plans for Online Store
				</h4>
				<div class="panel-body collapse in" id="p-2">
					<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<div class="date">
					<div class="year">1996</div>
					<small>October, 10</small>
				</div>
				<h4>News Begins Publication</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<h4>News Begins Publication</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
			</div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<div class="year">2008</div>
					<small>June, 19</small>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="slider oneslider">
					<ul>
						<li>
							<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/timeline-3.jpg" alt="" class="img-rounded"></a>
						</li>
						<li>
							<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/timeline-4.jpg" alt="" class="img-rounded"></a>
						</li>
						<li>
							<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/timeline-5.jpg" alt="" class="img-rounded"></a>
						</li>
					</ul>
					<nav class="nav-pages"></nav>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 hidden-xs"></div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<small>September, 23</small>
				</div>
			</div>
			<div class="col-sm-5">
				<h4>Plans for Network</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam.</p>
				<a href="" class="btn btn-primary">Read More</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="http://www.youtube.com/embed/PELlHslllk0?feature=player_embedded" allowfullscreen></iframe>
        </div>
				<h4>Music for Love</h4>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne.</p>
			</div>
			<div class="col-sm-2 no-all-padding hidden-xs">
				<div class="date">
					<div class="year">2012</div>
					<small>June, 28</small>
				</div>
			</div>
			<div class="col-sm-5 hidden-xs"></div>
		</div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<div class="date">
					<div class="year year-end">Nowadays</div>
					<small>...</small>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark ">
	<div class="container">
		<div class="row inforow">
			<div class="col-md-3 col-sm-6">
				<a class="navbar-brand" href="#">Gatwick</a>
				<p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Mellentesque habitant morbi tristique senectus.</p>
			</div>
			<div class="col-md-4 col-sm-6">
				<h4>Twitter</h4>
				<ul class="twitter-list flat">
					<li>
						<div class="fa fa-twitter hidden-sm"></div><p><a href="">@gatwick:</a> Utnon enim  feugiat <a href="">goo.gl/56Rt78</a> famesac turpis egestas <span class="date">June 18, 2014</span></p>
					</li>
					<li>
						<div class="fa fa-twitter hidden-sm"></div><p><a href="">@gatwick:</a> Mellentesque
						netus et malesuada <a href="">goo.gl/A65qt</a> enim eleifend felis pretium <span class="date">September 8, 2014</span></p>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4><a href="">Contact</a></h4>
				<address>
					<p>+44 20 7734 8000 <br/>
						+44 20 7734 8945 <br/>
						<a href="mailto:info@samplesite.com">info@samplesite.com</a>
					</p>
					<p>Le Meridien Piccadilly <br/>
						London, UK</p>
				</address>
			</div>
			<div class="col-md-2 col-sm-6">
				<h4><a href="">Links</a></h4>
				<ul>
					<li><a href="">Presentation</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms Of Use</a></li>
				</ul>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<p class="copyright">&copy; 2015 Gatwick. All Rights Reserved</p>
			</div>
			<div class="col-sm-6 text-right">
				<nav>
					<span>Follow Us:</span>
					<a href=""><i class="fa fa-dribbble"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</nav>
			</div>
		</div>
	</div>
</footer>
<!-- /.footer -->

<!-- ScrollTop -->
<a href="#" class="scrolltop"><i></i></a>
<script>
( function($) {
  // $('body').css('position','fixed');
	$(document).on('click', '.trigger', function (event) {
    event.preventDefault();
    $('#modal').iziModal('open', this); // Do not forget the "this"
});
$("#modal").iziModal({
		title: 'Quiz',
		headerColor: '#3498db',
    iframe: true,
    iframeURL: "https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true"
});

  } ) ( jQuery );
</script>
<!-- SCRIPTS -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/custom.js"></script>
<script>
</body>
</html>
